
input {
    margin: 20px;
    padding: 5px;
}
#button-enter {
    background-color: rgb(145, 202, 255);
    border: 1px solid black;
    border-radius: 5px;
    width: 70px;
    height: 30px;
}
#button-delete {
    background-color: rgb(145, 202, 255);
    border: 1px solid black;
    border-radius: 5px;
    width: 70px;
    height: 30px;
}
#result > h5 {
  color: blue;
}
#law {
  color: red;
}
#warning {
  color: orange;
}
#ok {
  color: green;
}